Repository morawskim/rpm-pipeline: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dog_pipeline, duf_pipeline, krunner-skypeforlinux_pipeline, susepaste-qt_pipeline, jetbrains-toolbox_pipeline, nullmailer_pipeline, php-docs_pipeline, owasp-zap_pipeline, packer_pipeline, python-pipx_pipeline, xsv_pipeline, yq_pipeline, ventoy_pipeline, libxtst_pipeline, libuuid_pipeline, nss_pipeline, htmlq_pipeline, gdu_pipeline, lsd_pipeline, captain_pipeline, git-trim_pipeline, python3-yaml_pipeline, fluent-bit_pipeline, aws-cli2_pipeline, kube-prompt_pipeline, teller_pipeline

Path conditions:
  dog_pipeline: any of: dog/*
  duf_pipeline: any of: duf/*
  krunner-skypeforlinux_pipeline: any of: krunner-skypeforlinux/*
  susepaste-qt_pipeline: any of: susepaste-qt/*
  jetbrains-toolbox_pipeline: any of: jetbrains-toolbox/*
  nullmailer_pipeline: any of: nullmailer/*
  php-docs_pipeline: any of: php-docs/*
  owasp-zap_pipeline: any of: owasp-zap/*
  packer_pipeline: any of: packer/*
  python-pipx_pipeline: any of: python-pipx/*
  xsv_pipeline: any of: xsv/*
  yq_pipeline: any of: yq/*
  ventoy_pipeline: any of: ventoy/*
  libxtst_pipeline: any of: libXtst/*
  libuuid_pipeline: any of: libuuid/*
  nss_pipeline: any of: nss/*
  htmlq_pipeline: any of: htmlq/*
  gdu_pipeline: any of: gdu/*
  lsd_pipeline: any of: lsd/*
  captain_pipeline: any of: captain/*
  git-trim_pipeline: any of: git-trim/*
  python3-yaml_pipeline: any of: python3-yaml/*
  fluent-bit_pipeline: any of: fluent-bit/*
  aws-cli2_pipeline: any of: aws-cli2/*
  kube-prompt_pipeline: any of: kube-prompt/*
  teller_pipeline: any of: teller/*

Update jetbrains-toolbox to 2.0
  jetbrains-toolbox/.gitlab-ci.yml
Due: jetbrains-toolbox_pipeline

fake-nss - don't specific version in Provides
  nss/README.md
  nss/fake-nss.spec
Due: nss_pipeline

fake-nss - build using opensuse/tumbleweed image
  nss/.gitlab-ci.yml
Due: nss_pipeline

Remove aws-cli2
  .gitlab-ci.yml
  aws-cli2/.gitlab-ci.yml
Due: aws-cli2_pipeline

Update teller to 2.0.7
  teller/.gitlab-ci.yml
Due: teller_pipeline

fix teller build
  teller/.gitlab-ci.yml
Due: teller_pipeline
