Repository morawskim/rpm-pipeline: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dog_pipeline, krunner-skypeforlinux_pipeline, susepaste-qt_pipeline, jetbrains-toolbox_pipeline, nullmailer_pipeline, php-docs_pipeline, owasp-zap_pipeline, packer_pipeline, python-pipx_pipeline

.gitlab-ci.yml:

stages:
  - build
  - package

include:
  - 'bcal/.gitlab-ci.yml'
  - 'ctop/.gitlab-ci.yml'
  - 'delta/.gitlab-ci.yml'
  - 'dive/.gitlab-ci.yml'
  - 'docker-credential-helpers/.gitlab-ci.yml'
  - 'docker-ls/.gitlab-ci.yml'
  - 'duf/.gitlab-ci.yml'
  - 'git-extras/.gitlab-ci.yml'
  - 'gron/.gitlab-ci.yml'
  - 'git-quick-stats/.gitlab-ci.yml'
  - 'hyperfine/.gitlab-ci.yml'
  - 'journalcheck/.gitlab-ci.yml'
  - 'json-tools/.gitlab-ci.yml'
  - 'license/.gitlab-ci.yml'
  - 'mkcert/.gitlab-ci.yml'
  - 'netsed/.gitlab-ci.yml'
  - 'ngrok/.gitlab-ci.yml'
  - 'textql/.gitlab-ci.yml'
  - 'tmpmail/.gitlab-ci.yml'
  - 'xrectsel/.gitlab-ci.yml'
  - 'yadm/.gitlab-ci.yml'
  - 'yum-scripts/.gitlab-ci.yml'

dog_pipeline:
  stage: build
  only:
    changes:
      - dog/*
  trigger:
    include:
      - local: dog/.gitlab-ci.yml

krunner-skypeforlinux_pipeline:
  stage: build
  only:
    changes:
      - krunner-skypeforlinux/*
  trigger:
    include:
      - local: krunner-skypeforlinux/.gitlab-ci.yml

susepaste-qt_pipeline:
  stage: build
  only:
    changes:
      - susepaste-qt/*
  trigger:
    include:
      - local: susepaste-qt/.gitlab-ci.yml

jetbrains-toolbox_pipeline:
  stage: build
  only:
    changes:
      - jetbrains-toolbox/*
  trigger:
    include:
      - local: jetbrains-toolbox/.gitlab-ci.yml

nullmailer_pipeline:
  stage: build
  only:
    changes:
      - nullmailer/*
  trigger:
    include:
      - local: nullmailer/.gitlab-ci.yml

php-docs_pipeline:
  stage: build
  only:
    changes:
      - php-docs/*
  trigger:
    include:
      - local: php-docs/.gitlab-ci.yml

owasp-zap_pipeline:
  stage: build
  only:
    changes:
      - owasp-zap/*
  trigger:
    include:
      - local: owasp-zap/.gitlab-ci.yml

packer_pipeline:
  stage: build
  only:
    changes:
      - packer/*
  trigger:
    include:
      - local: packer/.gitlab-ci.yml

python-pipx_pipeline:
  stage: build
  only:
    changes:
      - python-pipx/*
  trigger:
    include:
      - local: python-pipx/.gitlab-ci.yml

Build xsv rpm package
  .gitlab-ci.yml
  README.md
  xsv/.gitlab-ci.yml
Due: none

Build yq rpm package
  .gitlab-ci.yml
  README.md
  yq/.gitlab-ci.yml
Due: none

Update pipx to 0.12.3.3
  python-pipx/.gitlab-ci.yml
  python-pipx/python-pipx.spec
Due: python-pipx_pipeline

Set package vendor
  krunner-skypeforlinux/.gitlab-ci.yml
  nullmailer/.gitlab-ci.yml
  python-pipx/.gitlab-ci.yml
  susepaste-qt/.gitlab-ci.yml
Due: krunner-skypeforlinux_pipeline, susepaste-qt_pipeline, nullmailer_pipeline, python-pipx_pipeline

Build ventoy rpm package
  .gitlab-ci.yml
  README.md
  ventoy/.gitlab-ci.yml
Due: none

Build fake libXtst rpm package
  .gitlab-ci.yml
  libXtst/.gitlab-ci.yml
  libXtst/README.md
  libXtst/fake-libXtst.spec
Due: none

Build fake libuuid rpm package
  .gitlab-ci.yml
  libuuid/.gitlab-ci.yml
  libuuid/README.md
  libuuid/fake-libuuid.spec
Due: none

Build fake nss rpm package
  .gitlab-ci.yml
  nss/.gitlab-ci.yml
  nss/README.md
  nss/fake-nss.spec
Due: none

Build htmlq rpm package
  .gitlab-ci.yml
  README.md
  htmlq/.gitlab-ci.yml
Due: none

Update jetbrains-toolbox
  jetbrains-toolbox/.gitlab-ci.yml
Due: jetbrains-toolbox_pipeline

gdu rpm package
  .gitlab-ci.yml
  README.md
  gdu/.gitlab-ci.yml
Due: none

Build lsd rpm package
  .gitlab-ci.yml
  README.md
  lsd/.gitlab-ci.yml
Due: none

Update python-pipx to 0.16.4
  python-pipx/.gitlab-ci.yml
  python-pipx/python-pipx.spec
Due: python-pipx_pipeline

Update yadm to 3.1.1
  yadm/.gitlab-ci.yml
Due: none

Build captain rpm package
  .gitlab-ci.yml
  README.md
  captain/.gitlab-ci.yml
Due: none

Build git-trim rpm package
  .gitlab-ci.yml
  README.md
  git-trim/.gitlab-ci.yml
Due: none

[fake-nss] Set nss provided version due to conflict with crypto-policies
  nss/fake-nss.spec
Due: none

Build fake-python3-yaml rpm package
  .gitlab-ci.yml
  python3-yaml/.gitlab-ci.yml
  python3-yaml/README.md
  python3-yaml/fake-python3-yaml.spec
Due: none

Add possibility to manually run a packer pipeline
  .gitlab-ci.yml
  packer/.gitlab-ci.yml
Due: packer_pipeline

Build fluent-bit rpm package
  .gitlab-ci.yml
  fluent-bit/.gitlab-ci.yml
  fluent-bit/fluent-bit.service
  fluent-bit/fluent-bit.spec
Due: none

Update ngrok to 3.0.5
  ngrok/.gitlab-ci.yml
Due: none

[jetbrains-toolbox] - Update to 1.25
  jetbrains-toolbox/.gitlab-ci.yml
Due: jetbrains-toolbox_pipeline

Build aws-cli2 package
  .gitlab-ci.yml
  README.md
  aws-cli2/.gitlab-ci.yml
Due: none

Build kube-prompt package
  .gitlab-ci.yml
  README.md
  kube-prompt/.gitlab-ci.yml
Due: none

Update duf to 0.8.1
  .gitlab-ci.yml
  duf/.gitlab-ci.yml
Due: none

Update htmlq version
  htmlq/.gitlab-ci.yml
Due: none

Update rust container image
  delta/.gitlab-ci.yml
  dog/.gitlab-ci.yml
  hyperfine/.gitlab-ci.yml
  lsd/.gitlab-ci.yml
  xsv/.gitlab-ci.yml
Due: dog_pipeline

Update gron to 0.7.1
  gron/.gitlab-ci.yml
Due: none

Update license to 5.0.4
  license/.gitlab-ci.yml
Due: none

Update textql
  textql/.gitlab-ci.yml
Due: none

Update python-pipx to latest openSUSE Tumbleweed version
  python-pipx/.gitlab-ci.yml
Due: python-pipx_pipeline

Migrate php-docs to git
  php-docs/.gitlab-ci.yml
Due: php-docs_pipeline

README - add info about GPG key and URL to repository
  README.md
Due: none

Fix dive build
  dive/.gitlab-ci.yml
Due: none

Build teller package
  .gitlab-ci.yml
  README.md
  teller/.gitlab-ci.yml
Due: none

Update yq version
  yq/.gitlab-ci.yml
Due: none

yq - Remove apostrophe from RPM description
  yq/.gitlab-ci.yml
Due: none
